__pycache__/austin.cpython-311.pyc
__pycache__/cfg_log.cpython-311.pyc
__pycache__/csi.cpython-311.pyc
__pycache__/deleteitems.cpython-311.pyc
__pycache__/denali.cpython-311.pyc
__pycache__/fcr.cpython-311.pyc
__pycache__/locators.cpython-311.pyc
__pycache__/login.cpython-311.pyc
__pycache__/pandash.cpython-311.pyc
__pycache__/sql.cpython-311.pyc
__pycache__/webEvents.cpython-311.pyc
.vscode/settings.json
